.row__poster{
    width: 100%;;
    object-fit: contain;
    max-height: 100px;
    margin-right: 20px;
    transition: transform 450ms;
}

.row__posters{
    display: flex;
    overflow-y: scroll;
    overflow-x: scroll;
    padding: 20px;
}

.row__posters {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}


.row__posters::-webkit-scrollbar{
    display: none; /*for chrome*/
}

.row__poster:hover{
    transform: scale(1.08);
}

h2{
    text-align: left;
    color: white;
    margin-left: 20px;
}

.row__posterLarge{
    max-height: 250px;
}

.row__posterLarge:hover{
    transform: scale(1.09);
}
